@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 80%;
}

#placar {
    display: flex;
    gap: 5rem;
    list-style-type: none;
    padding-top: 1.2rem;
}

#placar>li {
    color: #ffffff;
    padding: .4em;
    text-align: center;
}

.placar-label {
    font-size: .9em;
    margin: .4rem 0;
}

.placar-value {
    background-color: #35425275;
    border-radius: .2rem;
    font-size: 2em;
    font-weight: 600;
    padding: .1rem 1rem;
}

#cenario {
    cursor: crosshair;
    margin: 2% auto;
    position: relative;

    height: 70%;
    width: 60%;
}

#alvo {
    position: absolute;
    width: 8rem;
}

#controles {
    display: flex;
    gap: 1.5rem;
}

.btn {
    border: none;
    cursor: pointer;
    color: #ffffffbb;
    font-size: 1.2em;
    margin-bottom: 2rem;
    padding: .4rem;
    background-color: #35425275;
    width: 6rem;
    transition: .4s;
}

.btn:hover{
    color: #ffffff;
    transition: .4s;
}

footer {
    background-color: #354252;
    color: #ffffff;
    padding: 2% 0;
    height: 20%;
    text-align: center;
}

footer>section {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-titulo {
    color: white;
    margin-bottom: .6rem;
}

.footer-paragrafo {
    color: #a5b8cf;
    line-height: 1.5rem;
}