@import "general.css";

#cabecalho {
    margin: 4em;
    text-align: center;
}

#cabecalho_botao-game {
    color: #1e2f44;
    background-color: #ffd900;
    box-shadow: 0px 4px #bea203;
    text-shadow: 1px 1px #bea203;
}

#cabecalho_botao-game:hover {
    text-shadow: 0px 0px #bea203;
}

#cabecalho_botao-game:active {
    top: 4px;
    box-shadow: 0px 0px #bea203;
}

#cabecalho_titulo {
    color: #1e2f44;
    font-size: 2.5em;
    font-weight: bold;
}

#ranking_table {
    border-collapse: collapse;
    margin: auto;
    width: 50vw;
    margin-top: 5em;
}

.table_header {
    background-color: #1e2f44;
    color: #ffd900;
    text-transform: uppercase;
    letter-spacing: .05em;
    box-shadow: 0 0 3px 0 #0d151f;
}

.table_row {
    background-color: #ffffff;
    color: #1e2f44;
}

tr {
    border-radius: .3em;

    display: flex;

    padding: 1em;
    margin-bottom: 1em;
}

th, td {
    flex-basis: 10vw;
}